body {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3em;
  margin: 0;
}

header p {
  margin: 0;
}

p {
  font-family: 'Varela Round', sans-serif;
}

.fine-print {
  font-size: 80%;
  color: grey;
}

main p {
  width: 30em;
  color: #484848;
}

img.mascot {
  width: 40%;
}

nav {
  a {
    color: black;
  }
  a:hover {
    color: purple;
  }
}

nav i {
  font-size: 2em;
  margin: 0.5em 0.5em 0 0;
}

@media screen and (max-width: 430px) {
  nav i {
    font-size: 1.7em;
    margin: 0.2em 0.2em 0 0;
  }
}

@media screen and (max-width: 530px) {
  main p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 800px) {
  img.mascot {
    width: 100%;
  }

  h1 {
    font-size: 6em;
  }
}
