<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
</head>
<body>

<h1><img src="yegwit-owl-small-square.png" alt="YEGWIT Owl Avatar"></h1>

<a href="https://twitter.com/yegwit"><i class="fab fa-twitter"></i></a>
<a href="https://www.instagram.com/yegwit/"><i class="fab fa-instagram"></i></a>
<a href="https://github.com/yegwit"><i class="fab fa-github"></i></a>
<a href="https://www.eventbrite.com/o/yeg-women-in-tech-26752827013"><i class="far fa-calendar-alt"></i></a>


</body>
</html>
