<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
  {{ $cssOpts := (dict "targetPath" "assets/main.css" ) }}
  {{ if .Site.IsServer }}
    {{ $styles := resources.Get "sass/styles.scss" | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{ else }}
    {{ $styles := resources.Get "sass/styles.scss" | toCSS $cssOpts | minify }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
  {{ end }}
</head>

<body>

  <div class="container">
    <img class="mascot" src="yegwit-owl-small-square.png" alt="YEGWIT Owl Mascot">

    <div>
      <header>
        <h1>YEGWIT</h1>
        <p>Edmonton Women in Tech</p>
      </header>
      <nav>
        <a href="https://twitter.com/yegwit"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/yegwit/"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/yegwit"><i class="fab fa-github"></i></a>
        <a href="https://www.eventbrite.com/o/yeg-women-in-tech-26752827013"><i class="far fa-calendar-alt"></i></a>
        <a href="email-sign-up.html"><i class="far fa-envelope"></i></a>
      </nav>
    </div>

  </div>
  <main>
    <p>YEGWIT aims to build a strong and safe group for women, diverse genders, and allies in tech
        with the goal of fostering engagement and opportunity, providing mentorship, and
        creating community. We are establishing a group that allows individuals
        to share ideas, concerns, thoughts and actions, to create an
        equitable environment within the industry.</p>
    <p><strong>YEGWIT: Foster, Validate, Empower.</strong></p>
    <p class="fine-print">We are a subset of the Dev Edmonton Society and as such any one that
        comes to our events agrees to the <a href="https://devedmonton.com/code_of_conduct.html">code of conduct</a>.
  </main>

</body>

</html>
